.main{
    padding-bottom: 100px;
}
.footer {
    width: 95%;
    position: fixed; /* Use fixed to make sure it's always at the bottom */
    bottom: 80px;
    left: 50%; /* Center the footer horizontally */
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000; /* Ensure the footer stays above other content */
  }
.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.IdeaSuggestions{
    height: 250px;
    overflow-x: auto;
    width: 100%;
}
.SessionSummary{
    height: 250px;
    overflow-x: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .box{
        flex-wrap: wrap;
    }
}