.main {
    width: 100%;
    background-color: #1876D1;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Change absolute to relative */
}

.center {
    text-align: center;
}
