.container {

  }
  
  .card {
    width: 100%;
    color: white !important;
  }
  
  .sectionTitle {
    margin-top: 16px;
    margin-bottom: 8px;
    color: white;
  }
  
  .divider {
    margin: 16px 0;
  }
  